services:
  rag:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    volumes:
      - ..:/app
    working_dir: /app/rag
    stdin_open: true
    tty: true
    command: jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --allow-root --NotebookApp.token='' --NotebookApp.password=''
    environment:
      - PYTHONUNBUFFERED=1
